.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.light-blue {
  background-color: #9bbec7 !important;
}

.dark-blue {
  background-color: #0c4854 !important;
}

.light-white {
  background-color: #edf6f7 !important;
}

.sea {
  background-color: #bae7ec !important;
}

.sky {
  background-color: #2ba3c2 !important;
}

.text-light-blue {
  color: #9bbec7 !important;
}

.text-dark-blue {
  color: #0c4854 !important;
}

.text-light-white {
  color: #edf6f7 !important;
}

.text-sea {
  color: #bae7ec !important;
}

.text-sky {
  color: #2ba3c2 !important;
}

/* .box {
  border: solid 2px green;
} */
